/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

// override the default gutenberg editor width
.edit-post-visual-editor .editor-block-list__block {
	max-width: 1102px;
}

.image--circle {
	border-radius: 100%;
}

button {
	&.remove-image {
		background-color: red;
		border: 2px red solid;
		padding: 5px 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.9;

		svg {
			background: red;
			fill: white;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.wp-block-cgb-block-text-and-image {
}

.team-member__content {
	background-color: #f9f9f9;
}

.transition-all {
	transition: all 0.3s ease;
}

.text-center {
	text-align: center;
}
.center-block {
	display: block;
	margin: 0 auto;
}
