/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

// override the default gutenberg editor width
body.gutenberg-editor-page .editor-post-title,
body.gutenberg-editor-page .editor-default-block-appender,
body.gutenberg-editor-page .editor-block-list__block {
	max-width: 940px;
}

.image--circle {
	border-radius: 100%;
}

button {
	&.remove-image {
		background-color: red;
		border: 2px red solid;
		padding: 5px 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.9;

		svg {
			background: red;
			fill: white;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.team-member__content {
	background-color: #f9f9f9;
}

.transition-all {
	transition: all 0.3s ease;
}

.text-center {
	text-align: center;
}
.center-block {
	display: block;
	margin: 0 auto;
}

/**
* Feature Block
**/
.wp-block-cgb-block-feature {
	&.block {
		.remove-image {
			z-index: 999;
		}
		.feature__content.has-image {
			position: absolute;
		}
		.feature__content {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.image-wrapper {
			margin: 0;
			img {
				width: 100%;
			}
		}
	}
}

/**
Section Block
**/

.editor-block-list__block[data-type='cgb/block-section'].is-selected
	.editor-block-list__block-edit {
	background: rgba(lightgray, 0.1);

	.section-block__resize-handler-left,
	.section-block__resize-handler-right {
		display: block;
	}
}

.section-block__resize-handler-left,
.section-block__resize-handler-right {
	display: none;
	border-radius: 50%;
	border: 2px solid white;
	width: 15px !important;
	height: 15px !important;
	position: absolute;
	background: lightblue;
	padding: 0 3px 3px 0;
	box-sizing: border-box;
	cursor: se-resize;
	top: 50% !important;
	transform: translateY(-50%);
}

.section-block__resize-handler-left {
	left: -7.5px !important;
}

.section-block__resize-handler-right {
	right: -7.5px !important;
}
