/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.row {
	margin-left: -$grid-gutter-width;
	margin-right: -$grid-gutter-width;
	> * {
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
	}
}

.flex {
	display: flex;
	align-items: center;
	@media all and (max-width: 48rem) {
		margin-bottom: -1rem;
	}
}
.col-6 {
	width: 50%;
	@media all and (max-width: 48rem) {
		width: 100%;
		margin-bottom: 1rem;
	}
}
.col-3 {
	width: calc(100% / 4);
}
// scoped styles
.wp-block-cgb-block-text-and-image {
}
