/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
$grid-gutter-width: 20px;

.mt0 {
	margin-top: 0;
}
.mb0 {
	margin-bottom: 0;
}
.mb1 {
	margin-bottom: 1rem;
}

.br1 {
	border-radius: 6px;
}
.position-relative {
	position: relative;
}
.overflow-hidden {
	overflow: hidden;
}

.box-shadow {
	box-shadow: 0 2px 3px rgba(50, 50, 93, 0.1);
}

$team-member__img--width: 120px;
.wp-block-cgb-block-team-member {
	.team-member__img {
		width: $team-member__img--width;
		display: block;
		margin: auto;
		> div {
			display: flex;
			justify-content: center;
			margin-bottom: calc(#{$team-member__img--width} / 2 * -1);
		}
	}
	.team-member__title {
		@extend .mt0;
		@extend .mb0;
	}
	.team-member__content {
		@extend .box-shadow;
		@extend .br1;
		background-color: #fff;
		padding: 1em;
		text-align: center;
		padding: calc(1em + calc(#{$team-member__img--width} / 2)) 1em 1em;
	}
}

.wp-block-cgb-block-pdf-download {
	padding: 1rem;
	margin: 1rem 0;
	background-color: #3ab4d2;
	border-left: 5px solid darken(#3ab4d2, 10%);
	display: block;
	h3,
	p {
		margin-bottom: 0;
		margin-top: 0;
		color: #fff;
	}
}
